<!DOCTYPE html>
<html>
<head>
    <title>Linux Öğrenme</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body style="background-color:#282828;">
	<div class="container">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-success">
  <a class="navbar-brand" href="/addkomut">My Linux</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/secret">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ogren">Öğrenme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/run-cmd">Uygulama</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/Comments">Comment</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn  btn-outline-success " href="/login">Login</a></div>
    </form>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn  btn-outline-success " href="/logout">Logout</a></div>
    </form>
  </div>
</nav>

		<div class="col-md-12">
      <div class="row-md-12">

