<% include partials/header %>


<h1 class="text-success" style="height: 150px;" align="center"> <p>Burası Admin Sayfasıdır.</p> <p>Veri Tabanına Erişim</p> </h1>
<div class="row" id="adminDurumu">
     <div class="col-md-12 text-success" >
         Admin değilsiniz !
     </div>
 </div>
 <% if( loginuser == adminUser ) { %>
    <div class="row" id="icerik">
             <div class="col-md-4">

             <form action="/addkomut-get" method="POST">
             <div class="form-group">
             <h5 class="text-success"> Veri Tabanına Yeni Komut Ekleme </h5>
     <label class="text-success" for="komut"> Komutu giriniz!</label>
     <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <div class="form-group">
             <label class="text-success" for="tanim">Açıklama Giriniz</label>
     <input type="text" class="form-control" placeholder="tanim" name="tanim">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Add Komut</button>

     </form>

     </div>
     <div class="col-md-4">
             <form action="/addkomut-update" method="POST">
             <div class="form-group">
             <h5 class="text-success"> Veri Tabanında Komut Değiştirme </h5>
     <label class="text-success" for="komut"> Komutu giriniz!</label>
     <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <div class="form-group">
             <label class="text-success" for="tanim">Açıklama Giriniz</label>
     <input type="text" class="form-control" placeholder="tanim" name="tanim">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Update Komut</button>

     </form>
     </div>
     <div class="col-md-4">
             <form action="/addkomut-delete" method="POST">
             <div class="form-group">
             <h5 class="text-success"> Veri Tabanında Komut Silme </h5>
     <label class="text-success" for="komut"> Komutu giriniz!</label>
     <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Delete Komut</button>

     </form>

     </div>

     </div>
 <% } else { %>
    <div hidden class="row" id="icerik">
     <div class="col-md-4">

         <form action="/addkomut-get" method="POST">
             <div class="form-group">
                 <h5 class="text-success"> Veri Tabanına Yeni Komut Ekleme </h5>
                 <label class="text-success" for="komut"> Komutu giriniz!</label>
                 <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <div class="form-group">
                 <label class="text-success" for="tanim">Açıklama Giriniz</label>
                 <input type="text" class="form-control" placeholder="tanim" name="tanim">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Add Komut</button>

         </form>

     </div>
     <div class="col-md-4">
         <form action="/addkomut-update" method="POST">
             <div class="form-group">
                 <h5 class="text-success"> Veri Tabanında Komut Değiştirme </h5>
                 <label class="text-success" for="komut"> Komutu giriniz!</label>
                 <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <div class="form-group">
                 <label class="text-success" for="tanim">Açıklama Giriniz</label>
                 <input type="text" class="form-control" placeholder="tanim" name="tanim">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Update Komut</button>

         </form>
     </div>
     <div class="col-md-4">
         <form action="/addkomut-delete" method="POST">
             <div class="form-group">
                 <h5 class="text-success"> Veri Tabanında Komut Silme </h5>
                 <label class="text-success" for="komut"> Komutu giriniz!</label>
                 <input type="text" class="form-control" placeholder="komut" name="komut">
             </div>
             <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Delete Komut</button>

         </form>

     </div>

 </div>
<% } %>


<% include partials/footer %>

