<% include partials/header %>

<h1 class="text-success" style="height: 150px;" align="center">Site Hakkındaki Görüşleriniz</h1>
<div class="row">

		<div class="col-md-2"></div>
		<div class="col-md-2">
			
			<% comments.forEach(function(comment){ %>
			    <li class="text-success" align="center"><%- comment %> </li>
			<% }); %>
			 <h1 style="height: 100px;"></h1>
			<form action="/addComment" method="POST">
			    <input  name="newComment" type="text" style="width: 300px; height: 150px;" placeholder="please type your comment">
			        <tr>
				      <td>&nbsp;</td>
				    </tr>
			    <button class="btn btn-primary form-control btn-outline-success">add comment</button>
			</form>

		</div>

</div>


<!--
	<div class="row">
		<h3 class="text-success">Görüşleriniz bizim için önemli</h3>
	</div>
    
    <div class="row">
    
    <div class="col-md-6">
    						<div class="widget-area no-padding blank">
								<div class="status-upload">
									<form >
										<textarea name="newComment" placeholder="please type your comment" ></textarea>
										<button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-share"></i> Share</button>
									</form>
								</div>
							</div>
						</div>
    </div>
-->
<% include partials/footer %>