<% include partials/header %>

<div >
    
    <h1 class="text-success" align="center" style="height: 150px;" >Linux Eğitimine Hoşgeldiniz!</h1>

    <div class="row p-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a class="btn btn-lg btn-block btn-outline-success" href="/register">Sign Up!</a></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row p-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a class="btn btn-lg btn-block btn-outline-success" href="/login">Login!</a></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row p-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a class="btn btn-lg btn-block btn-outline-success" href="/logout">Logout!</a></div>
        <div class="col-md-4"></div>
    </div>

</div>
<!--
<script type="text/javascript">
    var isAdmin = false;
    function topla(a, b) {
        if (isAdmin){
            console.log(a+b);
        } else {
        console.log("not authroized")
        }
    }
    topla(2,3);
</script>
-->

<% include partials/footer %>


