<% include partials/header %>
<h1 class="text-success" style="height: 150px;" align="center">Login</h1>

<div class=row>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/login" method="POST">
            <div class="form-group">
                <label class="text-success" for="username">User Name</label>
                <input type="text" class="form-control" name="username" placeholder="username" id="username">
            </div>
            <div class="form-group">
                <label class="text-success" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>
                <button type="submit" class="btn btn-primary form-control btn-outline-success">Login</button>
        </form> 
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row mt-4">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form >
        <div class="form-group">
            <a class="btn btn-primary form-control btn-outline-success" href="/register" id="signup">Sign Up!</a>
        </div>
    </form>
    </div>
    <div class="col-md-4"></div>
</div>
    

<% include partials/footer %>
<!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
