<!DOCTYPE html>

<!-- <h1>Admin Page</h1>  -->

<!-- var friends = ["ali", "veli", "kırkdokuz", "elli", "ellibir"];-->
<!-- ++++++++++++++++++++++++++++++++++test-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom CSS -->


    <title>Network Commands</title>

    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

</head>

<body>
<nav class="navbar navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div style="margin-left: 50px;">
                <img class="pull-left" width="50px" src="/images/logo.png" alt="logo">
                <a style="margin-left: 5px;" class="navbar-brand" href="/">My Linux</a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <form class="form-inline" style="padding-top: 8px;" method="GET" action="/products/search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="Search in products...">
                                <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="/">Products</a>
                </li>
                <li>
                    <a href="/network">Network Commands</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


        <h5>Burada Ping Komutunu çalıştırabilirsiniz
        <p>Örnek olarak ping IP_Adresi şeklinde gerçekleştirebiliriniz</p>
		</h5>
	<!-- <script type="text/javascript" src="ping.js"> -->

        <input id="muge" type="text"/>
        <label id = "id1"> </label>
        <input name="button" type="button" value="Yazdir" onClick="myFunction()" />





</div>

<div id="results" style="white-space: pre-wrap; word-break: break-word;">
</div>
</body>

<!--
<script> 
function myFunction(){

    var http = require("http");
    var exec = require('child_process').exec;

    http.createServer(function(req, res) {
      exec('uptime', function(err, stdout, stderr) {
        if (err) {
          res.writeHead(500, {"Content-Type": "text/plain"});
          res.end(stderr);
        }
        else {
          res.writeHead(200,{"Content-Type": "text/plain"});
          res.end(stdout);
        }
      });
    })


}

</script>
-->
<h3>Admin Page</h3>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
<input id="muge" type="text"/>
<input name="button" type="button" value="Yazdir" onClick="myFunction()" />
<label id = "id1"> </label>

<script> 
function myFunction(){
document.getElementById("id1").innerHTML = document.getElementById("muge").value;

}

</script>
