<% include partials/header %>

<h1 class="text-success" style="height: 150px;" align="center">Ogrenme</h1>

	<h3 class="text-success" style="height: 100px;" align="center">Linux Komutlarını ve Açıklamalarını buradan Öğrenebilirsiniz</h3>

	<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<form action="/get-ogren-komut" method="POST">
	    <input name="komutogren" type="text" style="width: 200px; height: 50px;"  placeholder="komut">
	    <tr>
			<td>&nbsp;</td>
		</tr>
	    <button class=" btn-outline-success" style="width: 200px; height: 50px;">Komut Test Et</button>
		</form>

		<% komut.forEach(function(i){ %>
		<li class="text-success" ><%- i %> </li>
		<% }); %>

	</div>

	<div class="col-md-4">
		
		<form action="/get-ogren-favori" method="POST">
	    <input name="favori" type="text" style="width: 200px; height: 50px;"  placeholder="favori komut">
	    <tr>
			<td>&nbsp;</td>
		</tr>
	    <button class=" btn-outline-success" style="width: 200px; height: 50px;">favorime ekle</button>
		</form>

	</div>



	</div>

</div>

<% include partials/footer %>