<% include partials/header %>
<h1>Login</h1>

<div class=row>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" name="username" placeholder="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>
            <div class="form-group">
                <label for="isAdmin">Admin Yetkisi</label>
                <input type="checkbox" value="true" class="form-control" name="isAdmin" placeholder="isAdmin" id="isAdmin">
            </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block form-control btn-outline-success">Sign Up!</button>
        </form> 
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row mt-4">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form >
        <div class="form-group">
            <a class="btn btn-primary form-control btn-outline-success" href="/login" id="login">Login</a>
        </div>
    </form>
    </div>
    <div class="col-md-4"></div>
</div>
    

<% include partials/footer %>
<!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->