<% include partials/header %>

<h1 class="text-success" style="height: 150px;" align="center">Uygulama</h1>

	<h3 class="text-success" style="height: 100px;" align="center">Burada öğrendiğiniz linuz komutlarını test edebilirsiniz.</h3>

	<div class="row">
	
	<div class="col-md-4"></div>
	<div class="col-md-4">
		
		<form action="/get-cmd-command" method="POST">
	    <input name="ipadr" type="text" style="width: 200px; height: 50px;"  placeholder="komut">
	    <tr>
			<td>&nbsp;</td>
		</tr>
	    <button class=" btn-outline-success" style="width: 200px; height: 50px;">Komut Test Et</button>
		</form>

		<% ip.forEach(function(i){ %>
		<li class="text-success" ><%- i %> </li>
		<% }); %>

	</div>



	</div>

</div>

<% include partials/footer %>