<% include partials/header %>

<h1 class="text-success" style="height: 150px;" align="center">Linux Egitim Sitesine Hosgeldiniz!</h1>


    <div class="row p-2">
        <div class="col-md-4"></div>
        <div class="col-md-4"><a class="btn btn-primary btn-lg btn-block btn-outline-success" href="/logout">logout</a></div>
        <div class="col-md-4"></div>
    </div>


<% include partials/footer %>


